--
-- PostgreSQL database dump
--

\restrict sdY9LeWxyLzhHRCh1jNJOqfd6IQhfPGDT5eoToLbpenqm2RX1xHkjsIjePkZ6Yr

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_actualizar_cuenta_pago(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_actualizar_cuenta_pago() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_saldo_nuevo NUMERIC(12,2);
BEGIN
    -- Actualizar monto pagado y saldo
    UPDATE cuentas_por_cobrar
    SET monto_pagado = monto_pagado + NEW.monto,
        saldo_pendiente = saldo_pendiente - NEW.monto
    WHERE id = NEW.cuenta_id;
    
    -- Obtener nuevo saldo
    SELECT saldo_pendiente INTO v_saldo_nuevo
    FROM cuentas_por_cobrar
    WHERE id = NEW.cuenta_id;
    
    -- Actualizar estado si est?? pagada completamente
    IF v_saldo_nuevo <= 0 THEN
        UPDATE cuentas_por_cobrar
        SET estado = 'PAGADA',
            saldo_pendiente = 0
        WHERE id = NEW.cuenta_id;
    END IF;
    
    RETURN NEW;
END;
$$;


--
-- Name: fn_descuento_inventario(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_descuento_inventario() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    stock_actual INT;
BEGIN
    SELECT stock INTO stock_actual
    FROM inventario
    WHERE variante_id = NEW.variante_id
    FOR UPDATE;

    IF stock_actual IS NULL THEN
        RAISE EXCEPTION 'No existe inventario para la variante %', NEW.variante_id;
    END IF;

    IF stock_actual < NEW.cantidad THEN
        RAISE EXCEPTION 'Inventario insuficiente para la variante %', NEW.variante_id;
    END IF;

    UPDATE inventario
    SET stock = stock - NEW.cantidad,
        actualizado_en = NOW()
    WHERE variante_id = NEW.variante_id;

    INSERT INTO movimientos_inventario (
        variante_id, tipo, cantidad, referencia
    ) VALUES (
        NEW.variante_id,
        'SALIDA',
        NEW.cantidad,
        'Venta ID ' || NEW.venta_id
    );

    RETURN NEW;
END;
$$;


--
-- Name: fn_precio_automatico(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_precio_automatico() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_precio NUMERIC(10,2);
BEGIN
    SELECT
        CASE
            WHEN NEW.cantidad >= 12 THEN precio_mayoreo
            ELSE precio_menudeo
        END
    INTO v_precio
    FROM variantes_producto
    WHERE id = NEW.variante_id;

    IF v_precio IS NULL THEN
        RAISE EXCEPTION
        'Precio no definido para variante_id %', NEW.variante_id;
    END IF;

    NEW.precio_unitario := v_precio;
    NEW.subtotal := v_precio * NEW.cantidad;

    RETURN NEW;
END;
$$;


--
-- Name: fn_precio_automatico_acumulado(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_precio_automatico_acumulado() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_precio_menudeo NUMERIC(10,2);
    v_precio_mayoreo NUMERIC(10,2);
    v_cantidad_total INTEGER;
    v_precio_aplicar NUMERIC(10,2);
BEGIN
    -- Obtener precios de la variante
    SELECT precio_menudeo, precio_mayoreo
    INTO v_precio_menudeo, v_precio_mayoreo
    FROM variantes_producto
    WHERE id = NEW.variante_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'Variante % no encontrada', NEW.variante_id;
    END IF;

    -- Calcular cantidad total acumulada de esta variante en la venta
    SELECT COALESCE(SUM(cantidad), 0) + NEW.cantidad
    INTO v_cantidad_total
    FROM venta_detalle
    WHERE venta_id = NEW.venta_id
    AND variante_id = NEW.variante_id;

    -- Aplicar precio seg??n cantidad acumulada
    IF v_cantidad_total >= 12 THEN
        v_precio_aplicar := v_precio_mayoreo;
        
        -- IMPORTANTE: Actualizar TODOS los detalles de esta variante en la venta
        -- para que tengan el precio de mayoreo
        UPDATE venta_detalle
        SET precio_unitario = v_precio_mayoreo,
            subtotal = cantidad * v_precio_mayoreo
        WHERE venta_id = NEW.venta_id
        AND variante_id = NEW.variante_id;
    ELSE
        v_precio_aplicar := v_precio_menudeo;
    END IF;

    -- Asignar precio al nuevo detalle
    NEW.precio_unitario := v_precio_aplicar;
    NEW.subtotal := NEW.cantidad * v_precio_aplicar;

    RETURN NEW;
END;
$$;


--
-- Name: FUNCTION fn_precio_automatico_acumulado(); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.fn_precio_automatico_acumulado() IS 'Aplica precio mayoreo cuando cantidad acumulada de un producto en la venta >= 12';


--
-- Name: fn_recalcular_totales_venta(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_recalcular_totales_venta() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_subtotal NUMERIC(12,2);
    v_total NUMERIC(12,2);
BEGIN
    -- Calcular subtotal sumando todos los detalles
    SELECT COALESCE(SUM(subtotal), 0)
    INTO v_subtotal
    FROM venta_detalle
    WHERE venta_id = COALESCE(NEW.venta_id, OLD.venta_id);

    -- Por ahora total = subtotal (sin descuentos ni impuestos)
    v_total := v_subtotal;

    -- Actualizar venta
    UPDATE ventas
    SET subtotal = v_subtotal,
        total = v_total
    WHERE id = COALESCE(NEW.venta_id, OLD.venta_id);

    RETURN COALESCE(NEW, OLD);
END;
$$;


--
-- Name: FUNCTION fn_recalcular_totales_venta(); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.fn_recalcular_totales_venta() IS 'Recalcula autom??ticamente subtotal y total de la venta';


--
-- Name: fn_validar_stock(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_validar_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_stock_actual INTEGER;
BEGIN
    -- Bloquea la fila de inventario
    SELECT stock
    INTO v_stock_actual
    FROM inventario
    WHERE variante_id = NEW.variante_id
    FOR UPDATE;

    IF v_stock_actual IS NULL THEN
        RAISE EXCEPTION 'No existe inventario para variante_id %', NEW.variante_id;
    END IF;

    IF v_stock_actual < NEW.cantidad THEN
        RAISE EXCEPTION
        'Stock insuficiente. Disponible: %, solicitado: %',
        v_stock_actual, NEW.cantidad;
    END IF;

    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nombre character varying(200) NOT NULL,
    rfc character varying(13),
    telefono character varying(15),
    email character varying(150),
    direccion text,
    limite_credito numeric(12,2) DEFAULT 0,
    activo boolean DEFAULT true,
    creado_en timestamp without time zone DEFAULT now()
);


--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: cuentas_por_cobrar; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cuentas_por_cobrar (
    id integer NOT NULL,
    venta_id integer NOT NULL,
    cliente_id integer NOT NULL,
    monto_total numeric(12,2) NOT NULL,
    monto_pagado numeric(12,2) DEFAULT 0,
    saldo_pendiente numeric(12,2) NOT NULL,
    fecha_vencimiento date,
    estado character varying(20) DEFAULT 'PENDIENTE'::character varying,
    creada_en timestamp without time zone DEFAULT now(),
    CONSTRAINT cuentas_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'PAGADA'::character varying, 'VENCIDA'::character varying])::text[]))),
    CONSTRAINT cuentas_saldo_check CHECK ((saldo_pendiente >= (0)::numeric))
);


--
-- Name: TABLE cuentas_por_cobrar; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.cuentas_por_cobrar IS 'Cuentas por cobrar de ventas a cr??dito';


--
-- Name: cuentas_por_cobrar_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cuentas_por_cobrar_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cuentas_por_cobrar_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cuentas_por_cobrar_id_seq OWNED BY public.cuentas_por_cobrar.id;


--
-- Name: factura_ventas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.factura_ventas (
    factura_id integer NOT NULL,
    venta_id integer NOT NULL
);


--
-- Name: facturas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.facturas (
    id integer NOT NULL,
    uuid_sat character varying(50),
    fecha timestamp without time zone,
    total numeric(12,2),
    rfc_emisor character varying(13) NOT NULL,
    rfc_receptor character varying(13),
    creada_en timestamp without time zone DEFAULT now(),
    serie character varying(10),
    folio integer,
    uso_cfdi character varying(10),
    forma_pago character varying(10),
    metodo_pago character varying(10),
    estado character varying(20) DEFAULT 'BORRADOR'::character varying,
    xml_content text,
    xml_url character varying(500),
    pdf_url character varying(500)
);


--
-- Name: facturas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.facturas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: facturas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.facturas_id_seq OWNED BY public.facturas.id;


--
-- Name: folios_sat; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.folios_sat (
    id integer NOT NULL,
    serie character varying(10),
    folio_actual integer NOT NULL,
    activo boolean DEFAULT true
);


--
-- Name: folios_sat_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.folios_sat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: folios_sat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.folios_sat_id_seq OWNED BY public.folios_sat.id;


--
-- Name: inventario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventario (
    id integer NOT NULL,
    variante_id integer NOT NULL,
    stock integer NOT NULL,
    actualizado_en timestamp without time zone DEFAULT now(),
    CONSTRAINT inventario_stock_check CHECK ((stock >= 0))
);


--
-- Name: inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inventario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inventario_id_seq OWNED BY public.inventario.id;


--
-- Name: movimientos_inventario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movimientos_inventario (
    id integer NOT NULL,
    variante_id integer NOT NULL,
    tipo character varying(20) NOT NULL,
    cantidad integer NOT NULL,
    referencia text,
    creado_en timestamp without time zone DEFAULT now(),
    CONSTRAINT movimientos_inventario_cantidad_check CHECK ((cantidad > 0)),
    CONSTRAINT movimientos_inventario_tipo_check CHECK (((tipo)::text = ANY (ARRAY[('ENTRADA'::character varying)::text, ('SALIDA'::character varying)::text, ('AJUSTE'::character varying)::text])))
);


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.movimientos_inventario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.movimientos_inventario_id_seq OWNED BY public.movimientos_inventario.id;


--
-- Name: pagos_cuenta; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pagos_cuenta (
    id integer NOT NULL,
    cuenta_id integer NOT NULL,
    monto numeric(12,2) NOT NULL,
    metodo_pago character varying(20) NOT NULL,
    referencia character varying(100),
    notas text,
    usuario_id integer,
    creado_en timestamp without time zone DEFAULT now(),
    CONSTRAINT pagos_metodo_check CHECK (((metodo_pago)::text = ANY ((ARRAY['EFECTIVO'::character varying, 'TARJETA'::character varying, 'TRANSFERENCIA'::character varying, 'CHEQUE'::character varying])::text[]))),
    CONSTRAINT pagos_monto_check CHECK ((monto > (0)::numeric))
);


--
-- Name: TABLE pagos_cuenta; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.pagos_cuenta IS 'Pagos/abonos a cuentas por cobrar';


--
-- Name: pagos_cuenta_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pagos_cuenta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pagos_cuenta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pagos_cuenta_id_seq OWNED BY public.pagos_cuenta.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    nombre character varying(150) NOT NULL,
    descripcion text,
    activo boolean DEFAULT true,
    creado_en timestamp without time zone DEFAULT now(),
    categoria character varying(100),
    marca character varying(100),
    actualizado_en timestamp without time zone DEFAULT now()
);


--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: puntos_venta; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.puntos_venta (
    id integer NOT NULL,
    codigo character varying(20) NOT NULL,
    descripcion text,
    activo boolean DEFAULT true
);


--
-- Name: puntos_venta_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.puntos_venta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: puntos_venta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.puntos_venta_id_seq OWNED BY public.puntos_venta.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tickets (
    id integer NOT NULL,
    venta_id integer NOT NULL,
    contenido text,
    creado_en timestamp without time zone DEFAULT now()
);


--
-- Name: tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tickets_id_seq OWNED BY public.tickets.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash text NOT NULL,
    rol_id integer NOT NULL,
    activo boolean DEFAULT true,
    creado_en timestamp without time zone DEFAULT now()
);


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: variantes_producto; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.variantes_producto (
    id integer NOT NULL,
    producto_id integer NOT NULL,
    sku character varying(50) NOT NULL,
    talla character varying(20),
    color character varying(30),
    precio_menudeo numeric(10,2) NOT NULL,
    precio_mayoreo numeric(10,2) NOT NULL,
    codigo_barras character varying(100) NOT NULL,
    activo boolean DEFAULT true,
    CONSTRAINT variantes_producto_precio_mayoreo_check CHECK ((precio_mayoreo >= (0)::numeric)),
    CONSTRAINT variantes_producto_precio_menudeo_check CHECK ((precio_menudeo >= (0)::numeric))
);


--
-- Name: variantes_producto_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.variantes_producto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: variantes_producto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.variantes_producto_id_seq OWNED BY public.variantes_producto.id;


--
-- Name: venta_detalle; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.venta_detalle (
    id integer NOT NULL,
    venta_id integer NOT NULL,
    variante_id integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    CONSTRAINT venta_detalle_cantidad_check CHECK ((cantidad > 0)),
    CONSTRAINT venta_detalle_precio_unitario_check CHECK ((precio_unitario >= (0)::numeric)),
    CONSTRAINT venta_detalle_subtotal_check CHECK ((subtotal >= (0)::numeric))
);


--
-- Name: venta_detalle_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.venta_detalle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: venta_detalle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.venta_detalle_id_seq OWNED BY public.venta_detalle.id;


--
-- Name: ventas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ventas (
    id integer NOT NULL,
    punto_venta_id integer NOT NULL,
    usuario_id integer NOT NULL,
    total numeric(12,2) NOT NULL,
    metodo_pago character varying(20) NOT NULL,
    creada_en timestamp without time zone DEFAULT now(),
    subtotal numeric(12,2) DEFAULT 0,
    descuento numeric(12,2) DEFAULT 0,
    impuesto numeric(12,2) DEFAULT 0,
    estado character varying(20) DEFAULT 'ABIERTA'::character varying,
    completed_at timestamp without time zone,
    cliente_id integer,
    tipo_venta character varying(20) DEFAULT 'CONTADO'::character varying,
    CONSTRAINT ventas_descuento_check CHECK ((descuento >= (0)::numeric)),
    CONSTRAINT ventas_estado_check CHECK (((estado)::text = ANY ((ARRAY['ABIERTA'::character varying, 'CERRADA'::character varying, 'CANCELADA'::character varying])::text[]))),
    CONSTRAINT ventas_impuesto_check CHECK ((impuesto >= (0)::numeric)),
    CONSTRAINT ventas_metodo_pago_check CHECK (((metodo_pago)::text = ANY (ARRAY[('EFECTIVO'::character varying)::text, ('TARJETA'::character varying)::text]))),
    CONSTRAINT ventas_subtotal_check CHECK ((subtotal >= (0)::numeric)),
    CONSTRAINT ventas_tipo_venta_check CHECK (((tipo_venta)::text = ANY ((ARRAY['CONTADO'::character varying, 'CREDITO'::character varying])::text[]))),
    CONSTRAINT ventas_total_check CHECK ((total >= (0)::numeric))
);


--
-- Name: COLUMN ventas.subtotal; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ventas.subtotal IS 'Suma de todos los items antes de descuentos e impuestos';


--
-- Name: COLUMN ventas.descuento; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ventas.descuento IS 'Descuento aplicado a la venta completa';


--
-- Name: COLUMN ventas.impuesto; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ventas.impuesto IS 'Impuestos calculados (IVA u otros)';


--
-- Name: COLUMN ventas.estado; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ventas.estado IS 'Estado de la venta: ABIERTA (en proceso), CERRADA (completada), CANCELADA';


--
-- Name: COLUMN ventas.tipo_venta; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.ventas.tipo_venta IS 'CONTADO (pago inmediato) o CREDITO (pago diferido)';


--
-- Name: ventas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ventas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ventas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ventas_id_seq OWNED BY public.ventas.id;


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: cuentas_por_cobrar id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas_por_cobrar ALTER COLUMN id SET DEFAULT nextval('public.cuentas_por_cobrar_id_seq'::regclass);


--
-- Name: facturas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.facturas ALTER COLUMN id SET DEFAULT nextval('public.facturas_id_seq'::regclass);


--
-- Name: folios_sat id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.folios_sat ALTER COLUMN id SET DEFAULT nextval('public.folios_sat_id_seq'::regclass);


--
-- Name: inventario id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario ALTER COLUMN id SET DEFAULT nextval('public.inventario_id_seq'::regclass);


--
-- Name: movimientos_inventario id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario ALTER COLUMN id SET DEFAULT nextval('public.movimientos_inventario_id_seq'::regclass);


--
-- Name: pagos_cuenta id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagos_cuenta ALTER COLUMN id SET DEFAULT nextval('public.pagos_cuenta_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: puntos_venta id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntos_venta ALTER COLUMN id SET DEFAULT nextval('public.puntos_venta_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: tickets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tickets ALTER COLUMN id SET DEFAULT nextval('public.tickets_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: variantes_producto id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.variantes_producto ALTER COLUMN id SET DEFAULT nextval('public.variantes_producto_id_seq'::regclass);


--
-- Name: venta_detalle id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.venta_detalle ALTER COLUMN id SET DEFAULT nextval('public.venta_detalle_id_seq'::regclass);


--
-- Name: ventas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas ALTER COLUMN id SET DEFAULT nextval('public.ventas_id_seq'::regclass);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: cuentas_por_cobrar cuentas_por_cobrar_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas_por_cobrar
    ADD CONSTRAINT cuentas_por_cobrar_pkey PRIMARY KEY (id);


--
-- Name: factura_ventas factura_ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factura_ventas
    ADD CONSTRAINT factura_ventas_pkey PRIMARY KEY (factura_id, venta_id);


--
-- Name: facturas facturas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.facturas
    ADD CONSTRAINT facturas_pkey PRIMARY KEY (id);


--
-- Name: folios_sat folios_sat_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.folios_sat
    ADD CONSTRAINT folios_sat_pkey PRIMARY KEY (id);


--
-- Name: inventario inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_pkey PRIMARY KEY (id);


--
-- Name: inventario inventario_variante_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_variante_id_key UNIQUE (variante_id);


--
-- Name: movimientos_inventario movimientos_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_pkey PRIMARY KEY (id);


--
-- Name: pagos_cuenta pagos_cuenta_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagos_cuenta
    ADD CONSTRAINT pagos_cuenta_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: puntos_venta puntos_venta_codigo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntos_venta
    ADD CONSTRAINT puntos_venta_codigo_key UNIQUE (codigo);


--
-- Name: puntos_venta puntos_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.puntos_venta
    ADD CONSTRAINT puntos_venta_pkey PRIMARY KEY (id);


--
-- Name: roles roles_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_key UNIQUE (nombre);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: variantes_producto variantes_producto_codigo_barras_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.variantes_producto
    ADD CONSTRAINT variantes_producto_codigo_barras_key UNIQUE (codigo_barras);


--
-- Name: variantes_producto variantes_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.variantes_producto
    ADD CONSTRAINT variantes_producto_pkey PRIMARY KEY (id);


--
-- Name: variantes_producto variantes_producto_sku_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.variantes_producto
    ADD CONSTRAINT variantes_producto_sku_key UNIQUE (sku);


--
-- Name: venta_detalle venta_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.venta_detalle
    ADD CONSTRAINT venta_detalle_pkey PRIMARY KEY (id);


--
-- Name: ventas ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_pkey PRIMARY KEY (id);


--
-- Name: idx_cuentas_cliente; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cuentas_cliente ON public.cuentas_por_cobrar USING btree (cliente_id);


--
-- Name: idx_cuentas_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cuentas_estado ON public.cuentas_por_cobrar USING btree (estado);


--
-- Name: idx_cuentas_vencimiento; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cuentas_vencimiento ON public.cuentas_por_cobrar USING btree (fecha_vencimiento);


--
-- Name: idx_facturas_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_facturas_estado ON public.facturas USING btree (estado);


--
-- Name: idx_facturas_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_facturas_fecha ON public.facturas USING btree (fecha);


--
-- Name: idx_facturas_uuid_sat; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_facturas_uuid_sat ON public.facturas USING btree (uuid_sat);


--
-- Name: idx_pagos_cuenta; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pagos_cuenta ON public.pagos_cuenta USING btree (cuenta_id);


--
-- Name: idx_ventas_cliente; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ventas_cliente ON public.ventas USING btree (cliente_id);


--
-- Name: idx_ventas_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ventas_estado ON public.ventas USING btree (estado);


--
-- Name: idx_ventas_fecha; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ventas_fecha ON public.ventas USING btree (creada_en);


--
-- Name: idx_ventas_fecha_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ventas_fecha_estado ON public.ventas USING btree (creada_en, estado);


--
-- Name: pagos_cuenta trg_actualizar_cuenta_pago; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_actualizar_cuenta_pago AFTER INSERT ON public.pagos_cuenta FOR EACH ROW EXECUTE FUNCTION public.fn_actualizar_cuenta_pago();


--
-- Name: venta_detalle trg_descuento_inventario; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_descuento_inventario AFTER INSERT ON public.venta_detalle FOR EACH ROW EXECUTE FUNCTION public.fn_descuento_inventario();


--
-- Name: venta_detalle trg_precio_automatico_acumulado; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_precio_automatico_acumulado BEFORE INSERT ON public.venta_detalle FOR EACH ROW EXECUTE FUNCTION public.fn_precio_automatico_acumulado();


--
-- Name: venta_detalle trg_recalcular_totales; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_recalcular_totales AFTER INSERT OR DELETE OR UPDATE ON public.venta_detalle FOR EACH ROW EXECUTE FUNCTION public.fn_recalcular_totales_venta();


--
-- Name: venta_detalle trg_validar_stock; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_validar_stock BEFORE INSERT ON public.venta_detalle FOR EACH ROW EXECUTE FUNCTION public.fn_validar_stock();


--
-- Name: cuentas_por_cobrar cuentas_por_cobrar_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas_por_cobrar
    ADD CONSTRAINT cuentas_por_cobrar_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: cuentas_por_cobrar cuentas_por_cobrar_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas_por_cobrar
    ADD CONSTRAINT cuentas_por_cobrar_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id);


--
-- Name: factura_ventas factura_ventas_factura_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factura_ventas
    ADD CONSTRAINT factura_ventas_factura_id_fkey FOREIGN KEY (factura_id) REFERENCES public.facturas(id) ON DELETE CASCADE;


--
-- Name: factura_ventas factura_ventas_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.factura_ventas
    ADD CONSTRAINT factura_ventas_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id) ON DELETE CASCADE;


--
-- Name: inventario inventario_variante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_variante_id_fkey FOREIGN KEY (variante_id) REFERENCES public.variantes_producto(id);


--
-- Name: movimientos_inventario movimientos_inventario_variante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_variante_id_fkey FOREIGN KEY (variante_id) REFERENCES public.variantes_producto(id);


--
-- Name: pagos_cuenta pagos_cuenta_cuenta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagos_cuenta
    ADD CONSTRAINT pagos_cuenta_cuenta_id_fkey FOREIGN KEY (cuenta_id) REFERENCES public.cuentas_por_cobrar(id);


--
-- Name: pagos_cuenta pagos_cuenta_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagos_cuenta
    ADD CONSTRAINT pagos_cuenta_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: tickets tickets_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id);


--
-- Name: usuarios usuarios_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- Name: variantes_producto variantes_producto_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.variantes_producto
    ADD CONSTRAINT variantes_producto_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: venta_detalle venta_detalle_variante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.venta_detalle
    ADD CONSTRAINT venta_detalle_variante_id_fkey FOREIGN KEY (variante_id) REFERENCES public.variantes_producto(id);


--
-- Name: venta_detalle venta_detalle_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.venta_detalle
    ADD CONSTRAINT venta_detalle_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id) ON DELETE CASCADE;


--
-- Name: ventas ventas_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id);


--
-- Name: ventas ventas_punto_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_punto_venta_id_fkey FOREIGN KEY (punto_venta_id) REFERENCES public.puntos_venta(id);


--
-- Name: ventas ventas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict sdY9LeWxyLzhHRCh1jNJOqfd6IQhfPGDT5eoToLbpenqm2RX1xHkjsIjePkZ6Yr

